@page
@model ExampleApplication.Pages.UsersModel
@{
    <div class="mt-4">
        <h2 class="mb-4 text-center">Пользователи</h2>

        <div class="row text-center mb-5">
            <p>Эта страница пользователей</p>
            <p>@Model.UtcNow</p>
        </div>
    </div>
}
